<%- include('../commons/cabecera') %>
<h2>Mostrar Artistas</h2>
<table class="table">
    <thead>
    <tr>
        <th>nombre</th>
        <th>representante</th>
        <th>integrantes</th>
        <th>nacionalidad</th>
        <th>precio</th>
        <th>concierto</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% datos.artistas.forEach(artista => { %>
        <tr>
            <td><%= artista.nombre %></td>
            <td><%= artista.representante %></td>
            <td><%= artista.integrantes %></td>
            <td><%= artista.nacionalidad %></td>
            <td><%= artista.precio %></td>
            <td>
                <% if(artista.concierto) {%>
                    <%= artista.concierto.nombre %>
                <%} else {%>
                    No asignado
                <%}%>
            </td>
            <td>
                <a href="/artista/ruta/editar-artista/<%= artista.id %>">
                    <button type="button"
                            class="btn btn-primary">
                        Editar
                    </button>
                </a>
                <form action="/artista/eliminar/<%= artista.id %>"
                      method="POST"
                >
                    <button type="submit"
                            class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
<%- include('../commons/pie-de-pagina') %>
